<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461513895660-e87v94upm1mq2gtvcjqjgpg51f3523c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461513895660-e87v94upm1mq2gtvcjqjgpg51f3523c1</string>
	<key>API_KEY</key>
	<string>AIzaSyCUu7ZoE9zegz0QqqsZdEF2Zyj4ZOEUd3g</string>
	<key>GCM_SENDER_ID</key>
	<string>461513895660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mo.dexter.task.dexter</string>
	<key>PROJECT_ID</key>
	<string>dexter-e3b62</string>
	<key>STORAGE_BUCKET</key>
	<string>dexter-e3b62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461513895660:ios:6a75133ccbf64ae7193fc9</string>
</dict>
</plist>